table {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: .2em .7em;
}

tbody tr:nth-child(even),
thead tr:nth-child(odd) {
    background-color: yellow;
}

th {
    text-align: left;
}

td:nth-child(3) {
    text-align: right;
}
