header {
    background-color: red;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    font-size: 3em;
}

h2 {
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0.7em;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 100;
}

span {
    color: red;
    font-style: italic;
}

#validation_notification {
    font-size: 1.2em;
    font-weight: 700;
}

ul {
    display: none;
}
