h1 {
    text-align: center;
    background-color: orange;
    margin: 0 auto;
    border-bottom: medium brown solid;
}

h2 {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.wrapper {
    margin: 0 20%;
    border-bottom: medium black solid;
    border-right: medium black solid;
}

.container {
    background-color: brown;
    margin: 0 auto;
    padding-left: 7px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 8px
}

section {
    background-color: orangered;
    margin-bottom: 5px;
    padding: 10px;
}

span {
    white-space: nowrap;
    display: inline-block;
    margin-right: 20px;

}

label #address-span {
    margin-right: 50px;
}

label #city-span {
    margin-right: 112.5px;
}

label #state-span {
    margin-right: 108px;
}

label #zip-span {
    margin-right: 118px;
}
