body {
    margin: 0 20%;
}

h1 {
    text-align: center;
    background-color: darkblue;
    color: white;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.container {
    margin-top: 0px;
    border-radius: 10px;
    background-color: yellow;
}
