.container {
    margin: 0 10%;
    margin-bottom: 20px;
    background-color: orangered;
    -webkit-box-shadow: 1px 1px 2px 4px #000000;
    box-shadow: 1px 1px 2px 4px #000000;
}

.planContainer {
    background-color: orangered;
    margin-top: -17px;
    padding-bottom: 15px;
}

h1 {
    text-align: center;
    background-color: cadetblue;
    margin-bottom: 0;
    color: white;
}

h2 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0.1em;
}

table {
    background-color: lightsalmon;
}

table,
th,
td {
    border: thin solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

th {
    border-bottom: thick solid black;
    padding-left: 10px;
    padding-right: 10px;
}
