body {
    width: 56.5%;
    margin: 0 auto;
    padding-right: 0.5em;
    border: medium solid blue;
    padding-bottom: 0.35em;
}

main {
    margin-left: 6%;
}

h1 {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    margin-left: 2%;
}

h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

p {
    margin-top: 0.2em;
}

.bold {
    font-weight: bold;
}
