body {
    border: medium solid blue;
    padding-left: 5%;
    width: 22em;
    margin: 0 auto;
    padding-bottom: 1%;
}

h1 {
    color: blue;
}

#given_degrees {
    margin-left: 2.4em;
}

#converted_degrees {
    margin-left: 2.15em;
}

#convert {
    margin-top: 2%;
    margin-left: 10.5em;
    width: 20%;
}
