li {
    display: inline;
    width: 20%;
    margin: 0 0.7%;


}

ul {
    display: inline-flex;
    width: 80%;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: center;
}
