body {
    background-color: #262626;
    color: rgb(255, 255, 255);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
}

body h1 {
    color: rgba(65, 191, 239, 1);
    font-Family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    margin: 0;
    text-shadow: 5px 5px 2px #FFFFFF;
}

[title ~="favorite"] {
    font: italic normal 33px/150% "Times New Roman", Courier, serif;
    margin: 0;

}

#header_wrapper {

    text-align: center;
}

main h3:first-child {
    font-family: cursive;
}

h3 + p::first-letter {
    font-size: 1.5em;
}

h3 + p {
    color: darkgoldenrod;
    display: inline-block;
    text-align: left;
}

ul > li {
    color: darkgray;
    width: 40%;
}

ol > li {
    color: burlywood;
    width: 40%;
}

h5 {
    font-style: italic;
    margin-bottom: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.body_paragraph{
    width: 90%;
}

#conclusion{
    width:auto;
}