/* the styles for the elements */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

html {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

/* the styles for the header */

header img {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-image: -webkit-linear-gradient(30deg, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background: -moz-linear-gradient(30deg, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background: linear-gradient(30deg, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background: rgb(30deg, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

/* the styles for the section */

main {
    clear: left;
    padding-left: 30px;
    padding-right: 30px;
}

header h2 {
    font-size: 170%;
    color: #880000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-bottom: .25em;
}

main h1 {
    font-size: 150%;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    padding-top: .3em;
    padding-bottom: .3em;
    border-width: medium;
    border-style: double;
    border-color: #931420;
    border-radius: 8px;
    -webkit-box-shadow: 6px 2px 6px 5px #000000;
    box-shadow: 6px 5px 6px 5px #000000;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;
}

main h3 {
    font-size: 105%;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding-right: 2em;
    padding-left: 2em;
    font-style: italic;
}

main ul {
    padding-bottom: .25em;
    padding-left: 1.25em;
}

main ul li {
    padding-bottom: .35em;
}

a:focus,
a:hover {
    font-style: italic;
}

.shadow {
    text-shadow: 2px 2px 2px #800000;
}

/* the styles for the footer */

footer {
    background: #931420;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}

footer p {
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 1em;
    padding-top: 1em;
}
