body {
    width: 900px;
    margin: 0 auto;
}

header {
    border-bottom: 4px solid white;
    background-color: black;
    height: 100px;
}

.column {
    .column -webkit-column-count: 3;
    -webkit-column-gap: 10 px;
    -webkit-column-rule: 0 px dotted black;
    moz-column-count: 3;
    moz-column-gap: 10 px;
    moz-column-rule: 0 px dotted black;
    column-count: 3;
    column-gap: 10 px;
    column-rule: 0 px dotted black;
    min-height: 70%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}

footer {
    clear: both;
    border-top: 4px solid white;
    background-color: black;
    height: 100px;
}
