* {
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    margin: 0 auto;
}

header {
    border-bottom: 4px solid white;
    background-color: black;
    height: 100px;
}

main {
    height: 350px;
    width: 79.75%;
    float: left;
    border-left: 4px solid white;
    background-color: lightgray;
    margin: 0 auto;
}

aside {
    background-color: darkgrey;
    float: left;
    width: 19.8%;
    height: 350px;
    overflow: hidden;
}

footer {
    clear: both;
    border-top: 4px solid white;
    background-color: black;
    height: 100px;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

section {
    float: left;
}
