* {
    margin: 0;
    padding: 0;
}

body {
    width: 99.99%;
    margin: 15px auto;
    border: 2px solid white;
    margin: 0;
}

header {
    border-bottom: 2px solid white;
    background-color: black;
    height: 100px;
}

main {
    height: 350px;
    width: 80.07%;
    float: left;
    border-right: 2px solid white;
    background-color: lightgray;
    margin: 0 auto;
}

aside {
    background-color: darkgrey;
    float: left;
    width: 19.8%;
    height: 350px;
    overflow: hidden;
}

footer {
    clear: both;
    border-top: 2px solid white;
    background-color: black;
    height: 100px;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

section {
    float: left;
}
