* {
    margin: 0;
    padding: 0;
}

body {
    width: 99.99%;
    margin: 15px auto;
    border: 2px solid white;
    margin: 0;
}

header {
    border-bottom: 2px solid white;
    background-color: black;
    height: 100px;
}

main {
    height: 350px;
    width: 80%;
    float: right;
    border-right: 2px solid white;
    margin: 0 auto;
}

aside {
    border-top: 2.45px solid white;
    background-color: darkgrey;
    float: left;
    width: 19.8%;
    height: 346px;
    overflow: hidden;
}

footer {
    clear: both;
    border-top: 2px solid white;
    background-color: black;
    height: 100px;
}

.group: after {
    content: "";
    display: table;
    clear: both;
}

#s1 {
    border: 2px solid white;
    background-color: darkgrey;
    width: 99.78%;
    height: 50px;
}

#s2 {
    float: left;
    height: 295px;
    width: 99.8%;
    background-color: lightgrey;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
