.wrapper {
    margin-left: 2em;
    border: medium solid blue;
    width: 35%;
    padding-left: 2em;
    padding-bottom: 2em;
}

h1 {
    color: blue;
}

fieldset {
    width: 85%;
    padding-top: 0em;
    padding-bottom: 0em;
}
